<!-- <div class="d-flex flex-column align-items-center justify-content-center bg-white m-3 text-center p-3"> -->
  <%#= simple_form_for [ @list_song ] do |f|%>
    <%#= f.hidden_field :list_id %>
    <!-- <div class="p-3"> -->
      <%#= f.association :song, collection: Song.where(user: current_user) %>
    <!-- </div> -->
    <!-- <div class="p-3"> -->
      <%#= f.input :order, label: 'Position' %>
    <!-- </div> -->
      <%#= f.button :submit, "Submit", class: "btn btn-outline-secondary m-3" %>
    <%# end -%>
<!-- </div> -->
